@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$color-1: hsl(215, 51%, 70%);
$color-2: hsl(178, 100%, 50%);
$color-3: hsl(217, 54%, 11%);
$color-4: hsl(216, 50%, 16%);
$color-5: hsl(215, 32%, 27%);
$color-6: hsl(0, 0%, 100%);

$base-font: 18px;



$colors: (
    "SoftBlue": $color-1,
    "Cyan": $color-2,
    "main-BG": $color-3,
    "card-BG": $color-4,
    "very-dark-blue-line": $color-5,
    "white": $color-6
);

body {
    background-color: $color-3;
    font-size: $base-font;
    color: $color-1;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    // color: ;
}

#card {
    background-color: $color-4;
    width: 80%;
    // margin: auto;
    // vertical-align: auto;
    margin: auto;
    // display: block;
    border-radius: 15px;
}

.name {
    color: $color-6;
}

.display-flex {
    display: flex;
}

.direction-flex-column {
    flex-direction: column;
}

#image {
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

#card-content {
    padding: 0px 20px 0px 20px;
}

h2 {
    margin: 0px 0px 20px 0px;
}