$color-1: hsl(215, 51%, 70%);
$color-2: hsl(178, 100%, 50%);
$color-3: hsl(217, 54%, 11%);
$color-4: hsl(216, 50%, 16%);
$color-5: hsl(215, 32%, 27%);
$color-6: hsl(0, 0%, 100%);

$colors: (
    "SoftBlue": $color-1,
    "Cyan": $color-2,
    "main-BG": $color-3,
    "card-BG": $color-4,
    "very-dark-blue-line": $color-5,
    "white": $color-6
);

body {
    background-color: $color-3;
    font-size: 18px;
    color: $color-1;
    min-height: 100vh;
    
    // color: ;
}

#card {
    background-color: $color-4;
    width: 80%;
    // margin: auto;
    // vertical-align: auto;
    margin: auto;
    display: block;


}

.name {
    color: $color-6;
}

.display-flex {
    display: flex;
}

.direction-flex {
    flex-direction: column;
}

#image {
    padding: 20px;
}

#card-content {
    padding: 20px;
}